
  <p></p>
  <strong>Workout:</strong> <%=event.event_name %>- <%=event.description %>, <%=event.difficulty %><br>
  <strong>Date:</strong> <%=event.date %>
  <strong>Time:</strong> <%=event.time %><br>
  <strong>Address:</strong><%=event.address %>
  <strong>Location:</strong><%=event.location %>

        
      
       
     