  <!-- this partial is used for interations through all the events for display purposes -->
  <div class="events">

  <div id="table">
  <p></p>
  
  <strong>Workout:</strong> <%=event.event_name %>- <%=event.description %>, <%=event.difficulty %><br>
  <strong>Date:</strong> <%=event.date %>
  <strong>Time:</strong> <%=event.time %><br>
  <strong>Address:</strong><%=event.address %>
  <strong>Location:</strong><%=event.location %>
  </div>

</div>

        
      
       
     