
  <p></p>
  Workout: <%=event.event_name %>
  Description: <%=event.description %><br>
  Date: <%=event.date %>
  Time: <%=event.time %>
  Address:<%=event.address %>
  Location:<%=event.location %><br>
  Difficulty:<%=event.difficulty %>

        
      
       
     