<!-- <div class="heading">
<h1 id="banner">FIT..Buddy! </h1>
<h5 id="tag_line">Find people to workout with, you decide what, when, and where!</h5>
</div> -->

<div class="banner">
<h2 id="header">FIT..Buddy! </h2>
<h5 id="tag_line">Find people to workout with, you decide what, when, and where!</h5>
</div>

<hr class = "front_page">
<div class="splash">Welcome to Fit..Buddy. This website is designed for busy workout enthusiasts. Once you sign in you can create and join workouts with other people to fit your schedule.</div>

<div class="wrapper">
<!-- link to new event page -->
      <div class="event_buttons">
        <div class= "center"></div>
        
        <div id="new_event_button"><%= link_to("Add Workout", new_event_path) %></div><div></div>

      <!-- link to all the current users workouts -->
      <div id="my_event_button"><%= link_to("My Workouts", my_events_path) %></div><div></div>
    </div>

  <!-- creates pagination for each page after 7 items -->
<%= paginate @events.order(created_at: :desc) %>
<h3 id="workouts"><strong>Workouts</strong></h3>

<!-- check to see if there is a current user/signed in user -->
<% if current_user %>

<!-- if there is a current user it starts each iteration for listing the index of events from the DB -->
  <% @events.each do |event| %>
 <!--  renders the partial for the event index -->
    <%= render partial: "event", locals:{event: event} %>

    <p></p>
    <!-- checks to see if the current user_is and the event being listed have a common id from the event_user table if this is true it will do the iteration -->
      <% if current_user && event.event_users.where(user_id:current_user.id).first %>

      <!-- link to google static map for location -->
        <%= link_to("map", event_path(event)) %>
        
      <!-- replaces the "join button" to show the user that they ahve already joined this event -->
         <h5>You have joined this Workout</h5>

         <!-- if the previous statement is not true this hiiden from creates a button "join" to allow the cuurent user to join the event. When clicked it creates a line item on the event_user table -->
      <% else %>
            <%= form_for event.event_users.new do |f| %>
                    <%= f.hidden_field :event_id, value: event.id %>
                    <%= f.submit "Join", class: 'button' %><br> 
                
                   <!--  this is the counter.  it coutns the number of items in the event user table -->
                    <h5>People RSVP'D: <%= event.users.length %> </h5>
                  <hr id="event_border"> 
            <% end %>
            <%= link_to("map", event_path(event)) %>

      <% end %>
      
  <% end %>
      <div class="event_buttons">
    
  
      <div id="new_event_button"><%= link_to("Add Workout", new_event_path) %></div><div></div>

      <!-- link to all the current users workouts -->
      <div id="my_event_button"><%= link_to("My Workouts", my_events_path) %></div><div></div>
      </div>
<% else %>
  <h4> Please sign in to join a workout </h4>
  <div>

    <!-- if neither previous statement is true this iteration displays an idex of events but only shows allowed information...not location or join button -->
  <% @events.each do |event| %>
      <strong>Workout:</strong> <%=event.event_name %>- <%=event.description %>, <%=event.difficulty %><br>
      <strong>Date:</strong> <%=event.date %><br>
      <strong>Time: </strong><%=event.time %>
      <p></p>
    </div>
     <hr id="event_border"> 
  <% end %>
<% end %>

<br>

<%= paginate @events.order(created_at: :desc) %>
</div>
