
<!-- #this page shows all the individuals events that they have created or joined -->
<div class="banner">
<h2 id="header"><strong>My Workouts</strong></h2>
</div>

<div class="event_buttons">
     <div class= "center"></div>
  
      <div id="new_event_button"><%= link_to("Add Workout", new_event_path) %></div><div></div>

      <!-- link to all the current users workouts -->
      <div id="my_event_button"><%= link_to 'All Workouts', events_path %></div><div></div>
      </div>
<%= paginate @events.order(created_at: :desc) %>

<tbody>
  <!-- iterates throught he partial to show user all of their events and a static map -->
  <% @events.each do |event| %>
      
    <%= render partial: "event", locals:{event: event} %>
    <h5 id="rsvp">People RSVP'D for this workout:
     <%= event.users.length %></h5> 
    <%= link_to("map", "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{event.latitude}%2C#{event.longitude}") %>
       
   
    <hr></hr>
    
        
  <% end %>
  <div class="event_buttons">
     <div class= "center"></div>
  
      <div id="new_event_button"><%= link_to("Add Workout", new_event_path) %></div><div></div>

      <!-- link to all the current users workouts -->
      <div id="my_event_button"><%= link_to 'All Workouts', events_path %></div><div></div>
      </div>
  <%= paginate @events.order(created_at: :desc) %>

  
</tbody>
